@use "../themes/index.scss" as theme;

$theme: "dark";

.dragging-mode {
    .section-drop-zone- {
        &before,
        &after {
            height: 50px;
            opacity: 0.5;
            border-radius: 25px;
            border: 2px solid theme.getTextColor($theme);
            text-align: center;
            color: theme.getTextColor($theme);
            font-size: 2em;
        }
    }
}
.section-drop-zone- {
    &before,
    &after {
        display: none !important;
    }
}
